* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

.first-banner {
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

.button {
    background-color: #DD0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footballer-img {
    max-width: 100%
}

.greatest-texts {
    margin-top: 100px;
    width: 50%;
}

.greatest-texts h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 4.375em;
    line-height: 80px;
    margin-top: 50px;
    margin-bottom: 45px;
}

.greatest-texts p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 26px;
    margin-bottom: 30px;
}

.second-banner {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 100px;
}

.footballer-img .salee {
    height: 72vh;
}

.text-border {
    border: 1px solid black;
    display: inline;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    /* identical to box height */


    color: #161616;

}

.gaps {
    margin-top: 30px;
    margin-right: 60px;
}

.first-aside {
    background-color: rgb(22, 22, 22);
    padding: 30px 51px;
    height: 312px;
    width: 312px;
    margin-right: 25px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.three-box li {
    padding: 0px 20px;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: white;
    margin: 35px 0px;
    list-style: none;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-box li:hover {
    background-color: #DD0000;
    color: white;
}

.first h3 {
    margin: 10px 0;
}


.three-box li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #161616;
    text-decoration: none;
}

.first h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #161616;
}

.main-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.bonus {
    display: flex;
    flex-direction: center;
    visibility: hidden;
}

.bonus-button {

    background-color: #DD0000;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer-heading {
    background-color: #161616;
    height: 20vh;
    color: white;
    text-align: center;
}


.footer-heading h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.last {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.last li {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    font-feature-settings: 'liga' off;

    color: #B9B9B9;
}

hr {
    color: #FFFFFF;
    width: 70%;
    margin: 20px 0;
    margin: auto;

}

@media screen and (max-width:768px) {
    .greatest-texts h1 {

        font-size: 2.375em;
        line-height: 1.375em;
        margin-top: -40px;
        margin-bottom: 20px;
    }

    .greatest-texts p {

        font-size: 13px;
        line-height: 21px;
        margin-bottom: 7px;
    }

    .button {


        font-size: 12px;
        margin: -2px 2px;

    }

    .second-banner {
        display: flex;
        flex-direction: column;
    }

    .first-aside {

        margin: auto;
        margin-bottom: 34px;

    }

    .main-columns {

        grid-template-columns: repeat(2, 1fr);

    }

    .bonus {
        display: flex;
        visibility: visible;
        /* align-content: stretch; */
        justify-content: space-around;
        margin-bottom: 26px;
    }

}

@media screen and (max-device-width: 576px) {
    .greatest-texts h1 {
        font-size: 1.375em;
        margin-bottom: 12px;
    }

    .greatest-texts p:nth-child(3) {
        display: none;
    }

    .first-banner {
        flex-direction: column;
        align-items: center;
    }

    .greatest-texts p {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 16px;
    }

    .first-banner {

        height: 107vh;
    }

    .button {

        padding: 14px 25px;

        font-size: 14px;

    }

    .main-columns {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .last {
        flex-direction: column;
    }

    .footer-heading {

        height: 72vh;

    }

    .last li {
        padding: 10px 0;
    }
}

/* second page styles */

.images-second {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.second {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 45px;
}

.second h3 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #161616;
    margin-top: 23px;

}

.second p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 123% */

    text-align: center;

    color: #4D4D4D;
}